# .gitignore
*.pem
.env
.idea
backend/alembic.ini
backend/alembic
.venv
./frontend/node_modules
./frontend/dist
./frontend/dist-ssr
*.local
./frontend/package-lock.json
node_modules
dist
dist-ssr
**/__pycache__/
./backend/**/__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.pytest_cache/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
